.example-container {
  width: 100%;
  height: 600px;
  overflow: auto;
}

table {
  width: 100%;
}


.h-general {
  height: 100%;
}

.card-header {
  background: #ffd400;
  color: #fff;
}

.logo-small {
  width: 40px;
}

.h-body {
  height: 100vh;
}

img {
  width: 100px;
}

.img-dish {
  max-width: 320px;
  max-height: 100px;
}
