<div class="container-fluid h-100">
  <div class="row justify-content-center align-items-center text-center row-1">

    <div class="card" style="width: 20rem;">
      <div class="card-body">


        <h1 class="title">
          <img src="assets/images/logo_kedan.png" alt="">
          <p>Management</p>
          <p>Sign In</p>
        </h1>
        <form [formGroup]="loginForm">
          <div class="input-group">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="Username" formControlName="username">
          </div>
          <div class="input-group">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Password" formControlName="password">
          </div>
          <button (click)="submit()" type="submit" class="btn">Sign In</button>
        </form>


      </div>
    </div>

  </div>
</div>
