<div class="container-fluid h-100">
  <div class="row justify-content-center align-items-center text-center row-1">

    <div class="card" style="width: 20rem;">
      <div class="card-body">


        <h1 class="title">Sign In</h1>
        <form action="login.html">
          <div class="input-group">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="Username">
          </div>
          <div class="input-group">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Password">
          </div>
          <button type="submit" class="btn">Sign In</button>
        </form>


      </div>
    </div>

  </div>
</div>
