.h-general {
  height: 100%;
}


.adsense {
  max-height: 200px;
}


div.ui-menu li {
  list-style: none;
  background-image: none;
  background-repeat: none;
  background-position: 0;
}

ul {
  list-style: none;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

/* li {
  background-repeat: no-repeat;
  background-position: 0px 5px;
  padding-left: 14px;
} */


.mat-card {
  background: #00ff55;
  color: #fff;
}


.proccessing {
  background: #0099ff;
  color: #fff;
}

.list-group {
  max-height: 80vh !important;
  overflow: auto;
}
