.h-general {
  height: 100%;
}

.logo-small {
  width: 40px;
}

.card-header {
  background: #ffd400;
  color: #fff;
}

.h-body {
  height: 100vh;
}

h3 {
  font-weight: 500;
}

.display-4 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
  padding: 5px;
  border: 1px solid;
}

.order {
  color: #ffffff;
  background: #14a2a9;
}

.waiting {
  color: #ffffff;
  background: #d1df16;
}

.ready {
  color: #ffffff;
  background: #38df16;
}


.on-order,
.on-ready,
.on-waiting {
  overflow: auto;
  max-height: 90vh;
}


.text-menu {
  width: 100%;
  padding: 5px;
  margin: 5px;
  border: 0px;
  min-height: 100px;
  border: 1px solid #333333;
  border-radius: 10px;
}



/* Waiting */

ul,
li {
  list-style-type: none;
}

.pr {
  padding-right: 2px;
  color: #557780;
}

li {
  display: inline-block;
  margin-left: 2px;
  width: 5px;
  height: 5px;
  background-color: #557780;
  border-radius: 100%;
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

li:nth-child(2) {
  animation-delay: .15s;
}

li:nth-child(3) {
  animation-delay: .25s;
}

@keyframes bounce {
  0% {
    transform: scale(1)
  }

  50% {
    transform: scale(1.2)
  }

  100% {
    transform: scale(1)
  }
}

body {
  text-align: center;
  line-height: 100vh;
  background-color: #25373D;
}

.bounce-anim {
  display: inline-block;
  margin: auto;
}


.btn-color {
  background-color: #25373D;
  color: #fff;
}


.mat-form-field {
  width: 100%;
}


::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0px !important;
}

.mat-button {
  margin: 10px !important;
}

.mat-icon {
  cursor: pointer;
}

.p-info {
  font-size: 9px;
  font-weight: 500;
  line-height: normal;
  /* text-align: start; */
  justify-items: center;
  padding: 10px 0;
  margin: 5px;
  border: 1px solid green;
  text-align: center;
}


/* ========================= */

::ng-deep input {
  border: 1 solid #14a2a9 !important;
  border-radius: 5px;
  width: 20%;
  text-align: center;
}


.menu-items {
  /* background-color: #14a2a9; */
  max-height: 300px;
  overflow: auto;
}

.btn-color-payment {
  background-color: #01d1c7;
  color: #fff;
}

/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

/* input:disabled {
  background-color: white;
} */
